<div class="container">
    <div class="add-appoinment-header">
        <h1>Citas - Nueva Cita</h1>
        <mat-divider class="divider"></mat-divider>
    </div>
    <div class="add-affiliate-body">
        <div class="add-app-body-header">
            <mat-form-field class="box">
                <mat-label>Seleccione la fecha</mat-label>
                <input [(ngModel)]="dateAppoinment" matInput
                    [matDatepicker]="picker">
                <mat-datepicker-toggle
                    matIconSuffix [for]="picker" matSuffix>
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>


            <mat-label>Hora</mat-label>
            <input class="box" type="time" id="appt" name="appt"
                min="06:00" max="20:00" step="1" required [(ngModel)]="hour">
                
            <mat-form-field class="box">
                <mat-label>Id Test</mat-label>
                <mat-select [(ngModel)]="selectedIdTest" name="testId">
                    <mat-option *ngFor="let testId of test" [value]="testId.id">
                        {{testId.id + '-' + testId.name}}

                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="box">
                <mat-label>Id Afiliado</mat-label>
                <mat-select [(ngModel)]="selectedIdAffiliate"
                    name="idAffiliate">
                    <mat-option *ngFor="let idAffiliate of appoinment"
                        [value]="idAffiliate.id">
                        {{idAffiliate.id +' - ' + idAffiliate.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <button class="box" mat-raised-button color="primary"
                (click)="insertAppoinment(dateAppoinment,hour,selectedIdTest,selectedIdAffiliate)">Guardar</button>
            <button class="box" mat-raised-button color="warn" (click)="cancelButton()">Cancelar</button>
        </div>
    </div>
</div>
