<div class="container">
    <div class="updt-affiliate-header">
        <h1>Afiliados - Actualizar Afiliado</h1>
        <mat-divider class="divider"></mat-divider>
    </div>
    <div class="updt-affiliate-body">
        <div class="updt-aff-body-header">
            <mat-form-field class="box">
                <input matInput  type="text" placeholder="Ingrese Nombre" [(ngModel)]="affiliate.name" >
              </mat-form-field>
            
              <mat-form-field class="box">
                <input matInput type="number" placeholder="Ingrese Edad" [(ngModel)]="affiliate.age">
              </mat-form-field>
            
              <mat-form-field class="box">
                <input matInput  type="email" placeholder="Ingrese Correo" [(ngModel)]="affiliate.mail">
              </mat-form-field>
            
              <button class="box" mat-raised-button color="primary" (click)="updateAffiliate()">Guardar</button>
              <button class="box" mat-raised-button color="warn" (click)="cancelButton()">Cancelar</button>
        </div>
    </div>
</div>
