<div class="container">
    <div class="updt-test-header">
        <h1>Examenes - Actualizar Examen</h1>
        <mat-divider class="divider"></mat-divider>
    </div>
    <div class="updt-test-body">
        <div class="updt-test-body-header">
    
              <mat-form-field class="box">
                <input matInput type="text" placeholder="Nombre del examen" [(ngModel)]="test.name" >
              </mat-form-field>
            
              <mat-form-field class="box">
                <mat-label>Descripción</mat-label>
                <textarea matInput placeholder="Descripción del examen..." [(ngModel)]="test.description" ></textarea>
              </mat-form-field>
            
              <button class="box" mat-raised-button color="primary" (click)="updateAffiliate()">Guardar</button>
              <button class="box" mat-raised-button color="warn" (click)="cancelButton()">Cancelar</button>
        </div>
    </div>
</div>
