<div class="container">
    <div class="add-affiliate-header">
        <h1>Afiliados - Nuevo Afiliado</h1>
        <mat-divider></mat-divider>
    </div>
    <div class="add-affiliate-body">
        <div class="add-aff-body-header">
            <mat-form-field>
                <input matInput  type="text" placeholder="Ingrese Nombre">
              </mat-form-field>
            
              <mat-form-field>
                <input matInput type="number" placeholder="Ingrese Edad">
              </mat-form-field>
            
              <mat-form-field>
                <input matInput  type="email" placeholder="Ingrese Correo">
              </mat-form-field>
            
              <button mat-raised-button color="primary">Guardar</button>
              <button mat-raised-button color="warn">Cancelar</button>
        </div>
    </div>
</div>
